<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Cloud-kitchen</h1>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="https://github.com/msaini0r" target="_blank"><i class="bi bi-github"></i></a>
            <a href="mailto:msaini0r@gmail.com" target="_blank"><i class="bi bi-envelope-open"></i></a>
            <a href="https://twitter.com/msaini0r" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.linkedin.com/in/msaini0r/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</div>